@mixin text($color: inherit, $family: inherit, $size: 1.6rem, $weight: 400, $line: 1.6) {
    color: $color;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
}


@mixin tr {
    transition: all .15s ease-in;
}

@mixin hover {
    @include tr;
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

@mixin posCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}